/* Загальні стилі */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Основні стилі тіла */
body {
    background-color: rgb(98, 211, 17);
    transition: background-color 1s;
}

body:hover {
    background-color: #0c0c67;
}

/* Стилі заголовка */
header {
    background-color: #e8cc2e;
    color: #c9b627;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s;
}

header:hover {
    background-color: #040202;
}

/* Навігаційна панель */
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s;
}

.nav-item {
    color: #1a91d0;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: #555; /* Зміна кольору при наведенні */
}

/* Основний контент */
.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

/* Картки продуктів */
.card {
    background-color: #1f5d32;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 30%; /* Ширина картки */
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px); /* Підйом картки при наведенні */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Футер */
footer {
    background-color: #bdcfb7;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s;
}

footer:hover {
    background-color: #444; /* Зміна кольору при наведенні */
}

/* Стилі для продуктів */
.product {
    width: 180px; /* Ширина контейнера продукту */
    text-align: center;
    padding: 10px;
    border: 5px double rgb(184, 30, 30);
    margin: 10px; /* Відступ між продуктами */
    float: left; /* Вирівнювання по лівому краю */
}
